* {
  padding: 0;
  margin: 0;
}
header {
  text-align: center;
  padding: 30px;
  font-family: crack;
  font-size: 70px;
  color: rgb(221, 235, 248);
}

body {
    background-image: radial-gradient(rgba(250, 6, 6, 0.6), rgba(12, 56, 138, 0.7));
}
main {
  display: flex;
  justify-content: center;
  font-family: crack;
  font-size: 100px;
  color: rgb(221, 235, 248);
}

table {
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 155px;
  width: 155px;
  border: solid 5px;
  border-radius: 5%;
}
section {
  background-color: rgb(221, 235, 248);
  background-size: 100%;
  font-family: crack;
  font-size: 35px;
  color: rgb(16, 45, 100);
  text-align: center;
}
@font-face {
  font-family: "crack";
  src: url(../font/crackvetica/Crackvetica.ttf);
}
